:root {
  --app-bg: #fff;
  --sidebar: #f3f6fd;
  --sidebar-main-color: #fff;
  --table-border: #1a2131;
  --table-header: #1a2131;
  --app-content-main-color: #1f1c2e;
  --sidebar-link: #1f1c2e;
  --sidebar-active-link: rgba(195, 207, 244, 1);
  --sidebar-hover-link: rgba(195, 207, 244, 0.5);
  --action-color: #2869ff;
  --action-color-hover: #6291fd;
  --app-content-secondary-color: #f3f6fd;
  --filter-reset: #2c394f;
  --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
  .light:root {
    --app-bg: #fff;
    --sidebar: #f3f6fd;
    --app-content-secondary-color: #f3f6fd;
    --app-content-main-color: #1f1c2e;
    --sidebar-link: #1f1c2e;
    --sidebar-hover-link: rgba(195, 207, 244, 0.5);
    --sidebar-active-link: rgba(195, 207, 244, 1);
    --sidebar-main-color: #1f1c2e;
    --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  $font-small: 14px;
$font-medium: 16px;
$font-large: 24px;


  .sidebar {
      display: flex;
      flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: var(--sidebar);
    
    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
    }
    
    &-list {
        display: flex;
        flex-direction: column;
        align-items: center;
      padding: 0;
      
      &-item {
        margin-bottom: 4px;
        margin-left: 0;
        
        .link_side {
          display: flex;
          width: 160px;
          padding: 10px 0;
          color: var(--sidebar-link);
          text-decoration: none;
          font-size: $font-small;
        
        }
        
        svg { margin-right: 8px; }
        
        &:hover { background-color: var(--sidebar-hover-link); }
        
      }
    }
    
    @media screen and (max-width: 1024px) {&{
        display: none;
    }}
  }